<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{dynamicCards?.title}}</ion-title>

        <ion-buttons end *ngFor="let btn of dynamicCards?.buttons">
            <button ion-button icon-only color="{{btn.color}}">
                <ion-icon name="{{btn.icon}}"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let it of dynamicCards?.items">
                <ion-card>
                    <div *ngIf="it.content">
                        <p text-wrap [innerHtml]="it.content | linkify"></p>
                        <button ion-button (click)="isShow = !isShow">Xem chi tiết</button>
                        <div *ngIf="(it.content | linkify:'urlInfos')?.length>0">
                            <div *ngFor="let urlInfo of it.content | linkify:'urlInfos'; let idx = index;">
                                <p text-wrap *ngIf="isShow" [innerHtml]="urlInfo.content | newline"></p>
                                <img *ngIf="isShow" src="{{urlInfo.image}}" />
                            </div>
                        </div>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>